.dicom-preview {
    margin-top: 20px;
    width: 100%; /* Hoặc có thể đặt chiều rộng cố định nếu cần */
    max-width: 600px; /* Giới hạn chiều rộng của khung */
    height: 400px; /* Đặt chiều cao cố định cho khung */
    overflow: hidden; /* Ẩn phần ảnh bị vượt ra ngoài khung */
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    justify-content: center; /* Canh giữa nội dung */
    align-items: center; /* Canh giữa nội dung theo chiều dọc */
}

.dicom-image {
    max-width: 80%; /* Đảm bảo ảnh không vượt quá chiều rộng của container */
    max-height: 80%; /* Đảm bảo ảnh không vượt quá chiều cao của container */
    object-fit: contain; /* Đảm bảo ảnh không bị cắt, vừa đủ trong khung */
    display: block;
    margin: 0 auto; /* Canh giữa ảnh */
}